.header {
    background: #e7d29c;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 56px;
}

.nav {
    color: black;
    font-weight: bold;
    display: flex;
    gap: 20px; /* 🔥 más espacio */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.nav li:hover {
    color: #ff9700;
}

.actions {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
}

.search {
    width: 100%;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.icon {
    width: 36px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
}

/* contenedor del menú */
.menu-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* menú desplegable */
.menu-dropdown {
    position: absolute;
    top: 45px;
    right: 0;

    background: #ebe6dc;
    border: 2px solid black;
    border-radius: 15px;

    width: 180px;
    padding: 8px 0;

    display: flex;
    flex-direction: column;
    text-align: center;

    z-index: 1000;
}

/* items del menú */
.menu-dropdown p {
    margin: 0;
    padding: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

/* quitar última línea */
.menu-dropdown p:last-child {
    border-bottom: none;
}

/* hover */
.menu-dropdown p:hover {
    background: #ffffff;
}

.user-name {
  font-weight: bold;
  color: black;
  margin-right: 10px;
  white-space: nowrap;
}
/* responsive celular */
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .actions {
        width: auto;
    }

    .search {
        width: 320px;
    }
}

/* responsive computador */
@media (min-width: 1024px) {
    .search {
        width: 500px;
    }
}